.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-text {
    text-align: center;
}

.overlay {
    width: 50vw;
    z-index: 999;
    border: 5px solid #FF7F7F;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    display: none;
    padding: 10px;
}

#pick-people input {
    margin-right: 1em;
}

#name-add {
    display: flex;
    flex-direction: row;
}

#name-add input {
    margin-right: 10px;
}

#name-add input[type='submit'] {
    background-color: #FF7F7F;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.heb-grocery-split-btn {
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background-color: #FF7F7F;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
}

#totals table {
    margin-left: auto;
    margin-right: auto;
}

#split-popup-close, #totals-popup-close {
    position: absolute;
    background: red;
    color: white;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#split-popup-close:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
}

.form-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#split, #totals {
    max-width: 50vw;
}

.name-row {
    display: flex;
    flex-direction: row;
}

.remove-name {
    margin-left: 1em;
    cursor: pointer;
    text-decoration: underline;
}

#totals-btn {
    margin-left: 1em;
}